.home {
	margin-top: 20px;

	@media only screen and (max-width: 750px) {
		margin-top: 4vw;
	}

	h2 {
		color: rgb(0, 225, 255);
		width: 100%;
		text-align: center;
		font-size: 40px;

		@media only screen and (max-width: 750px) {
			font-size: 6vw;
		}
	}

	.main-img-container {
		position: relative;
		img {
			width: 100%;
		}

		.text-container {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.7);
			top: 0;
			left: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			.text {
				width: 550px;
				padding: 2%;
				display: flex;
				flex-direction: column;
				border-radius: 10px;
				color: var(--color1);

				@media only screen and (max-width: 750px) {
					width: 80%;
					// background-color: red;
				}

				h1 {
					font-size: 40px;
					margin-top: 10px;
					margin-bottom: 10px;

					@media only screen and (max-width: 750px) {
						font-size: 6vw;
						margin-top: 1vw;
						margin-bottom: 1vw;
					}
				}

				p {
					margin-top: 10px;
					font-size: 16px;
					@media only screen and (max-width: 750px) {
						margin-top: 1vw;
						font-size: 2.3vw;
					}
				}

				.buttons-container {
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-between;

					button {
						cursor: pointer;
						width: 220px;
						background-color: rgb(13, 133, 149);
						border: none;
						margin-top: 15px;
						padding: 15px;
						color: var(--color1);
						border-radius: 10px;
						font-size: 15px;

						&:hover {
							background-color: rgb(7, 28, 104);
						}

						@media only screen and (max-width: 750px) {
							width: 35vw;
							margin-top: 2vw;
							padding: 2vw;
							border-radius: 1vw;
							font-size: 2.7vw;
						}
					}
				}
			}
		}
	}

	.separator {
		margin: auto;
		height: 1px;
		width: 80%;
		background-color: grey;
		margin-top: 30px;
		margin-bottom: 60px;
	}

	#categories-preview {
		margin-bottom: 40px;

		h2 {
			margin-bottom: 10px;
		}
	}
}
