.NavigationContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;

  .LogoContainer {
    img {
      width: 100px;

      @media only screen and (max-width: 450px) {
        width: 25vw;
      }
    }
  }

  .NavLinks {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .NavLink {
      margin: 10px;
      cursor: pointer;
      color: var(--color1);

      @media only screen and (max-width: 450px) {
        margin: 1vw;
        font-size: 4vw;
      }
    }
  }
}