.product {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 70px;

	@media only screen and (max-width: 750px) {
		flex-direction: column;
		margin-top: 7vw;
	}

	.img-container {
		width: 400px;
		height: 450px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 10px;

		@media only screen and (max-width: 750px) {
			width: 50vw;
			height: 60vw;
			border-radius: 1vw;
			margin-bottom: 5vw;
		}
	}

	.adidas {
		background-color: var(--adidasBackground);
		img {
			width: 90%;
		}
	}

	.nike {
		background-color: var(--nikeBackground);
		img {
			width: 80%;
			transform: scaleX(-1);
		}
	}

	.puma {
		background-color: var(--pumaBackground);
		img {
			width: 80%;
			transform: scaleX(-1);
		}
	}

	.asics {
		background-color: var(--asicsBackground);
		img {
			width: 70%;
		}
	}

	.mizuno {
		background-color: var(--asicsBackground);
		img {
			width: 70%;
			transform: scaleX(-1);
		}
	}

	.newbalance {
		background-color: var(--newBalanceBackground);
		img {
			width: 75%;
		}
	}

	.brooks {
		background-color: var(--brooksBackground);
		img {
			width: 82%;
		}
	}

	.saucony {
		background-color: var(--sauconyBackground);
		img {
			width: 63%;
		}
	}

	.product-info {
		margin-left: 40px;
		width: 300px;
		color: var(--color1);

		@media only screen and (max-width: 750px) {
			margin-left: 0;
			width: 90vw;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		h3 {
			text-align: center;
			font-size: 34px;
			margin: 0;

			@media only screen and (max-width: 750px) {
				font-size: 6vw;
			}
		}

		h4 {
			font-size: 20px;
			margin: 0;
			margin-top: 15px;
			margin-bottom: 15px;

			@media only screen and (max-width: 750px) {
				font-size: 4vw;
				margin-top: 2vw;
				margin-bottom: 2vw;
			}
		}

		.select-sizes {
			h5 {
				margin: 0;
				font-size: 20px;
				margin-bottom: 10px;

				@media only screen and (max-width: 750px) {
					font-size: 3vw;
					margin-bottom: 1vw;
				}
			}

			.sizes {
				display: grid;
				justify-content: center;
				align-items: center;
				grid-template-columns: repeat(3, 90px);
				column-gap: 10px;
				row-gap: -30px;

				@media only screen and (max-width: 750px) {
					grid-template-columns: repeat(3, 25vw);
					column-gap: 3.5vw;
					row-gap: -3vw;
				}

				.size {
					cursor: pointer;
					text-align: center;
					border: 1px solid var(--color1);
					border-radius: 4px;
					font-size: 20px;
					padding: 8px;
					margin-bottom: 10px;

					@media only screen and (max-width: 750px) {
						border-radius: 0.4vw;
						font-size: 5vw;
						padding: 0.8vw;
						margin-bottom: 10px;
					}

					&:hover {
						background-color: var(--backgroundHover);
					}
				}
			}
		}

		button {
			cursor: pointer;
			width: 100%;
			background-color: rgb(13, 133, 149);
			color: var(--color1);
			border: none;
			margin-top: 20px;
			border-radius: 20px;
			padding: 10px;
			font-size: 20px;

			@media only screen and (max-width: 750px) {
        width: 90%;
				margin-top: 2vw;
				border-radius: 20vw;
				padding: 2vw;
				font-size: 5vw;
        margin-bottom: 10vw;
			}
		}
	}
}
