.category-preview-container {
	display: flex;
	flex-direction: column;

	.category-preview-header {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		padding: 10px;
		margin-bottom: 10px;
		// background-color: aqua;
		@media screen and (max-width: 1200px) {
			padding: 1vw;
			margin-bottom: 2.5vw;
		}

		p {
			font-size: 28px;
			border: none;
			margin: 0;
			min-width: 300px;
			color: var(--color1);

			@media screen and (max-width: 1200px) {
				font-size: 2.8vw;
				min-width: 30vw;
			}
		}

		button {
			margin-left: 710px;
			border: 1px solid var(--color1);
			color: var(--color1);
			background-color: transparent;
			// background-color: rgb(28, 133, 144);
			padding: 10px;
			font-size: 13px;
			border-radius: 10px;
			cursor: pointer;

			@media screen and (max-width: 1200px) {
				margin-left: 51.4vw;
        // margin-left: 31.4vw;
				font-size: 1.2vw;
				padding: 0.7vw;
				width: 8vw;
				border-radius: 1vw;
			}

			&:hover {
				background-color: var(--backgroundHover);
			}
		}
	}

	.preview {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 30px;

		@media screen and (max-width: 1200px) {
			gap: 2.5vw;
		}
	}
}
