.product-card-container {
	width: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	cursor: pointer;

  @media screen and (max-width: 1200px) {
    width: 20.5vw;
  }

	.product-card-img-container
	{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 260px;
		margin-bottom: 10px;
		border-radius: 10px;
		margin-top: -10px;

	}
	
	.adidas{
		background-color: var(--adidasBackground);
		img {
			width: 90%;
		}
	}

	.nike{
		background-color: var(--nikeBackground);
		img {
			width: 80%;
			transform:scaleX(-1);
		}
	}

	&:hover {
		img {
			opacity: 0.8;
		}
	}

	.footer {
		width: 95%;
    height: fit-content;
		display: flex;
		justify-content: space-between;
		font-size: 18px;

    @media screen and (max-width: 1200px) {
      font-size: 1.8vw;
    }

		.name {
			width: 65%;
      height: 60px;
			color: var(--color1);
      @media screen and (max-width: 1200px) {
        height: 7vw;
      }
		}

		.price {
			text-align: right;
      font-weight: bold;
			width: 30%;
			color: var(--color1);
		}
	}
}
