.sign-up-container {
  display: flex;
  flex-direction: column;
  width: 330px;

  @media screen and (max-width: 750px) {
    width: 90vw;
  }

  h2 {
    margin: 10px 0;

    @media screen and (max-width: 750px) {
      margin: 1vw 0;
      margin-top: 12vw;
      font-size: 6vw;
    }
  }

  span {
    margin-bottom: 5px;

    @media screen and (max-width: 750px) {
      font-size: 4vw;
      margin-bottom: 0.5vw;
    }
  }
}
