.directory-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: -20px;

	.categories-line {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		@media screen and (max-width: 1200px) {
			flex-direction: column;
		}

		.categories-line-column {
			display: flex;
			flex-direction: row;

			@media screen and (max-width: 750px) {
				div {
					margin: 4vw;
				}
			}
		}
	}
}
