.checkout-item-container {
	width: 100%;
	display: flex;
	align-items: center;
	background-color: rgb(5, 25, 143);
	height: 170px;
	margin-bottom: 15px;
	border-radius: 10px;

	@media screen and (max-width: 750px) {
		height: 19vw;
		margin-bottom: 2vw;
		border-radius: 1vw;
	}

	.img-container {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 10px;
		width: 150px;
		height: 170px;

		@media screen and (max-width: 750px) {
			border-radius: 1vw;
			width: 17vw;
			height: 19vw;
		}
	}

	.adidas {
		background-color: var(--adidasBackground);
		img {
			width: 90%;
		}
	}

	.nike {
		background-color: var(--nikeBackground);
		img {
			width: 80%;
			transform: scaleX(-1);
		}
	}

	.puma {
		background-color: var(--pumaBackground);
		img {
			width: 80%;
			transform: scaleX(-1);
		}
	}

	.asics {
		background-color: var(--asicsBackground);
		img {
			width: 70%;
		}
	}

	.mizuno {
		background-color: var(--asicsBackground);
		img {
			width: 70%;
			transform: scaleX(-1);
		}
	}

	.newbalance {
		background-color: var(--newBalanceBackground);
		img {
			width: 75%;
		}
	}

	.brooks {
		background-color: var(--brooksBackground);
		img {
			width: 82%;
		}
	}

	.saucony {
		background-color: var(--sauconyBackground);
		img {
			width: 63%;
		}
	}

	.product-info {
		display: flex;
		flex-direction: column;
		align-items: left;
		justify-content: space-between;
		margin-left: 20px;
		width: 400px;
		height: 100px;
		font-size: 15px;

		@media screen and (max-width: 750px) {
			margin-left: 2vw;
			width: 57vw;
			height: 12vw;
			font-size: 2vw;
		}
	}

	.action {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		margin-left: 20px;
		width: 100px;
		height: 80px;
		font-size: 19px;

		@media screen and (max-width: 750px) {
			margin-left: 2vw;
			width: 10vw;
			height: 10vw;
			font-size: 3.2vw;
		}

		.quantity {
			display: flex;
      align-items: center;

			.arrow {
				cursor: pointer;
        @media screen and (max-width: 750px) {
          font-size: 3.3vw;
				}
			}

			.value {
				margin: 0 10px;
        @media screen and (max-width: 750px) {
          margin: 0 1vw;
				}
			}
		}

		.remove-button {
			cursor: pointer;

			span {
				font-size: 25px;
				@media screen and (max-width: 750px) {
					font-size: 3.2vw;
				}
			}
		}
	}
}
