body {
  margin: 0;
  padding: 20px 30px;
  @media only screen and (max-width: 450px) {
    padding: 4vw 5vw;
  }
  background-color: var(--background);
  font-family: 'Open Sans Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

:root {
  --background: rgb(19, 21, 126);
  --background:  rgb(12, 36, 71);
  --backgroundHover:  rgb(50, 88, 146);
  --color1 : #ffffff;
}