body {
	margin: 0;
	background-color: var(--background);
	font-family: 'Open Sans Condensed', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
	text-decoration: none;
	color: black;
}

* {
	box-sizing: border-box;
}

:root {
	--background: rgb(19, 21, 126);
	--background: rgb(12, 36, 71);
	--backgroundHover: rgb(50, 88, 146);
	--color1: #ffffff;
	--color2: rgb(13, 133, 149);
	--adidasBackground: #eceef0;
	--nikeBackground: #f6f6f6;
	--pumaBackground: #fafafa;
	--asicsBackground: #ffffff;
	--mizunoBackground: #ffffff;
	--newBalanceBackground: #f1f1f1;
	--brooksBackground: #ffffff;
	--sauconyBackground: #ffffff;
}
